.slider{
  width: auto;
  height: auto;
  background-color: #8c8c8c;
  margin: 15px 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
  position: relative;

  &__prevBtn{
    position: absolute;
    left: -20px;
    opacity: 0.6;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }

  &__nextBtn{
    position: absolute;
    right: -20px;
    cursor: pointer;
    opacity: 0.6;

    &:hover{
      opacity: 1;
    }
  }

}